/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	
	color: #000000;
	background: #ffffff;
}

a:link, a:visited { color: #008fc1; text-decoration: none; } 
a:active, a:hover { text-decoration: underline; }


h2 {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	font-size: 15px;
	font-weight: bold;
	color:#ffffff;
}

h3 {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight: bold;
	/*color: #37a7ce;
	text-decoration: underline;*/
}

h4 {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
}

p {
	margin: 0px 0px;
	color: #5b5847;
	text-align: justify;
}

img {  
	margin: 0px; 
	padding: 0px;
}

#templatemo_container {
	margin: 0px auto;
	width: 1005px;
	padding-top: 0px;
}

.send_btn {
	margin: 0px;
	padding: 0px 0px 0px 0px;
	height: 19px;
	width: 27px;
	font-size: 14px;
	font-weight: bold;
	color: #0a8eb8;
	text-decoration: none;
	background: none;
	border: none;
}

.textfield {
	margin: 0px 5px 0px 0px;
	padding: 0px;
	float: left;
	height: 19px;
	width: 175px;
	font: 12px Arial;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	border: 1px solid #CCCCCC;
}

.more_button a{
	clear: both;
	display: block;
	width: 57px;
	height: 19px;
	margin-left: 100px;
	padding: 0px 0px 0px 10px;
	background: url(images/templatemo_readmore.gif) no-repeat;
	color: #FFFFFF;
	text-decoration: none;
}

/* ----- Header ----- */

#templatemo_header {
	clear: both;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	width: 1005px;
	height: 180px;
}


#logosection {
	margin: 0px 0px 0px 0px;
	float: left;
	width: 227px;
	height: 120px;
}

.sitelogo {
	margin: 20px 0px 0px 20px;
	padding: 0px;
	height: 80px;
	background:url(images/company_logo.gif) no-repeat;	
}

.sitename {
	margin: 10px 0px 0px 20px;
	padding: 0px;
	font: 35px Arial;
	font-weight: bold;
	color: #ffffff;
}

.sitename span {
	font-weight: normal;
}

#header {
	margin: 0px;
	float: right;
	width: 900px;
	height: 180px;
}

#header .title{
	padding: 50px 0px 0px 180px;
	font-size: 20px;
	font-weight:bold;
	color: #333333;
	line-height: 25px;
}

#header .bigtext{
	font-size: 30px;
	font-weight:bold;
	color: #ffffff;
}

/* ----- End of Header ----- */

/* gradient 7 */
.gradient7 {
	background: #7a4b1f;
 	padding: 60px 0 0 0;
	margin: 15px 0  -121px;
	width: 240px;"
	}



/* ------------- Menu ------------------ */
#templatemo_menu {
	
	margin-bottom: 5px;
	padding: 0px;
	width: 1035px;
	height: 50px;
	float: left;
}

#search {
	float: left;
	width: 225px;
	height: 28px;
	padding: 7px 0px 0px 10px;
	background: url(images/templatemo_menu_background.gif) repeat-x;
}

#menu {
	float: right;
	width: 690px;
	height: 35px;
	margin: 0px;

}

#menu ul {
	margin: 0px;
	text-align: right;
	list-style: none;
}

#menu ul li {
	margin: 0px;
	display: inline;	
}

#templatemo_menu ul li a {
	margin: 0px;
	display:inline-block;
	height: 30px;
	padding: 5px 20px 0px 20px;
	font: 14px arial;
	color:#000000;
	text-decoration: none;

}

#menu ul li a:hover, #menu ul li .current {
	color: #FFF;
	background: url(images/templatemo_menuhover_background.gif) repeat-x;
}

/* ---------- End of Menu ------------- */

/* ----------------- Content ----------------------- */

#templatemo_content {
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	width:auto;
	height:auto;
	background-color: #FFF;
}
#leftcolumn_box {
	width: 296px;
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 5px;
	width: auto;
	
	
	
	/*padding: 5px;
	margin: 0px 0px 10px 0px;*/
}
#mid1column_box {
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 5px;
	width: auto;
	/*padding: 5px;
	margin: 0px 0px 10px 307px;*/
}
#mid2column_box {
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 5px;
	width: auto;
	/*padding: 5px;
	margin: 0px 0px 10px 575px;*/
	border:solid #999 1px;
	
	
}
#mid3column_box {
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 5px;
	width: auto;	
}
#bottomcolumn2_box {
	float:right;
	margin: 0px 5px 5px 0px;
	width: auto;
	
}

#bottomcolumn_box {
	float:left;
	clear: both;
	height: 50px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: auto;
}
#templatemo_left_column {
	float: left;
	margin: 0px 10px 5px 0px;
	padding: 20px 10px;
	width: 227px;
	background: #C8B7B7;
	min-height: 600px;
}

#templatemo_middle_column {
	float: left;
	margin: 0px 0px 5px 0px;
	padding: 7px 2px;
	width: auto;
	border:solid;
	
}

#midllie{
width: 200px;
}


#templatemo_right_column {
	float: right;
	margin: 0px -5px 5px 10px;
	padding: 20px 0px 0px 0px;
	width: 200px;
	background: #C8B7B7;
	
}

/* left column */

#leftcolumn_box01 {
	width: 215px;
	padding: 5px;
	background: #4D3B38;	
	margin: 0px 0px 10px 0px;	
}
#imagebutton {
	width: 215px;
	margin: 0px 0px 10px 0px;	
}
#imagebutton a, img{
	border: none;
}

#leftcolumn_box01 .leftcolumn_box01_top{
	width: 195px;
	height: 15px;
	padding: 10px;
	background: #755957;		
}
#leftcolumn_box01 .leftcolumn_box01_bottom{
	
	width: 195px;
	padding: 10px;
	color: #FFFFFF;
}

#leftcolumn_box02 {
	width: 190px;
	padding: 10px 20px 10px 15px;
	background: #dba667;
	border-top: 5px solid #7a4b1f;
	margin: 0px 0px 10px 0px;
}
#leftcolumn_box02 ul {
	margin: 0px;
	padding: 10px 0px 0px 5px;
	list-style: none;
}

#leftcolumn_box02 ul li{
	display: block;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#leftcolumn_box02 ul li a{
	padding: 0px 0px 0px 15px;
	margin: 0px;
	color: #ffffff;
	text-decoration: none;
}

#leftcolumn_box02 ul li a:hover{
	text-decoration: none;
}

/* end of left column */

/* middle column */

#section1 {
	float: left;
	width: 205px;
	margin-right: 10px;
	padding: 10px;
	background: #dceff6;
}
#section1 p{
	margin: 0px;
	padding: 0px 0px 10px 0px;
}

#section2 {
	float: right;
	width: 205px;
	padding: 0px;
	background: #bcbcbc;
}

#section2 .section2_top{
	height: 24px;
	padding: 10px 0px 0px 10px;
	background: url(images/templatemo_section2_title.gif) no-repeat;
}
#section2 .section2_bottom{
	float: left;
	padding: 10px;
}

#section2 ul {
	margin: 0px;
	padding: 10px 0px 0px 0px;
	list-style: none;
}

#section2 ul li{
	display: block;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}

#section2 ul li a{
	padding: 0px 0px 0px 15px;
	margin: 0px;
	color: #000000;
	text-decoration: none;
	background: url(images/templatemo_list_icon01.gif) center left no-repeat;
}

#section2 ul li a:hover{
	color: #ffffff;
	background: url(images/templatemo_list_icon02.gif) center left no-repeat;
}


/* end of middle */

/* right column */

#right_box01 {
	width: 185px;
	height: 38px;
	padding: 10px 5px;
	color:#FFFFFF;
	font-size: 15px;
	background: url(images/templatemo_rightsection_background.gif) no-repeat;	
	margin: 0px 0px 10px 5px;	
}

.rightbig_button a{
	clear: both;
	display: block;
	width: 165px;
	height: 48px;
	margin: 0px 0px 10px 5px;
	padding: 10px 20px 0px 10px;
	background: url(images/templatemo_rightsection_background.gif) no-repeat;
	color:#FFFFFF;
	font-size: 18px;
	text-decoration: none;
}

#right_box02 {
	clear: both;
	width: 190px;
	padding: 0px;
	margin: 0px 0px 10px 5px;
}
#right_box02 .rightbox02_top{
	width: 190px;
	height: 25px;
	padding: 10px 0px 0px 0px;
	background: #008fc1 url(images/templatemo_rightsection_top.gif) no-repeat;
}
#right_box02 .rightbox02_bottom{
	width: 170px;
	height: 170px;
	padding: 15px 10px 10px 10px;
	background: #cce8f2;
}
#right_box02 .customer_section{
	clear: both;
	margin: 0px 0px 20px 0px;
	padding: 0px;
}
#right_box02 p{
	padding: 0px;
	margin: 0px;
}
/* end of right column */



/* ----- Form ----- */

/* ----- End of Form ----- */

/* ----- Footer ----- */


#templatemo_footer {
	clear: both;
	padding: 10px 0px 0px 0px;
	width: 1000px;
	height: 50px;
	text-align: center;
	color: #666;
	background: #AFE4F1;
	text-align: center;
}
#templatemo_footer_bottom {
	width: 1000px;
	height: 10px;
	margin: 0px;
	padding: 0px;
	background: #AFE4F1;
}

/* IE6 hack */
* html #templatemo_footer_bottom {
	width: 1000px;
	height: 10px;
	margin-bottom: -10px;
	padding: 0px;
	background: #AFE4F1 url(images/templatemo_footer_bottom.gif) no-repeat;
}

#templatemo_footer a{
	color: #666;
}

#templatemo_footer a:hover{
	color: #ffffff;
}

/* ----- End of Footer ----- */




/* ----- Start of css.css ----- */


.bbcode_container {

	margin:20px;

	margin-top:5px;

	display:block;

}



.bbcode_container .bbcode_desc {

	margin-bottom:2px;

	font-size:11px;

}



.bbcode_container div.bbcode_code,

.bbcode_container pre.bbcode_code {

	margin:0;

	padding:6px;

	border:1px inset;

	text-align:left;

	overflow:scroll;

	direction:ltr;

	background:#f2f6f8  repeat-x;

	/*height:;*/

	font-size:12px;

}



.bbcode_container code.bbcode_code {

	margin:0;

	text-align:left;

	direction:ltr;

	font-size:12px;

}



.bbcode_container code.bbcode_code code {

	white-space:nowrap;

}



.bbcode_container div.bbcode_quote {

	margin:0 10px;

	margin-bottom: 10px;

	-moz-border-radius: 5px;

	-webkit-border-radius: 5px;

	background: #f2f6f8 none   ;

	border-radius: 5px;

	border: 1px solid #417394;

	font: italic  normal 13px Tahoma,Calibri,Verdana,Geneva,sans-serif;

	position: relative;

	top: 0;

}



.bbcode_container .bbcode_quote_container {

	background: transparent url(images/misc/quote-left.png) no-repeat  left;

	display:block;

	width: 9px;

	height: 13px;

	position: absolute;

	top: 5;

	left: -9px;

}



.bbcode_quote div.quote_container {

	-moz-border-radius: 5px;

	-webkit-border-radius: 5px;

	padding: 5px 10px 5px 10px;

}



.bbcode_quote .bbcode_postedby img {

	position: relative;

	top: 1px;

}



.bbcode_container div.bbcode_quote.printable {

	background:none;

	border:none;

}



.bbcode_container div.bbcode_quote div.message {

	/*font-style:italic;*/

	padding:8px 0px;

}



/* fix the bug where li's in quotes are floated */

.bbcode_container div.bbcode_quote div.message ol>li, .bbcode_container div.bbcode_quote div.message ul>li{

	float: none;

}



/* from components.css */

.bbcode_postedby {

	font:   normal 12px Tahoma,Calibri,Verdana,Geneva,sans-serif;

}



.bbcode_postedby img {

	margin:0;

} 

.formcontrols .blockrow.texteditor {
	border-top:none;
}

.editor {
	border-top:solid 1px #6b91ab;
}

.editor.quickreply,
.editor.quickedit {
	border-top:none;
}

.editor_controls {
	padding:6px 6px 6px 0;
        _display:none; /* disabling clickable controls for IE6, although the form remains fully-functional, including keyboard-controls: select a word, hit control-b to bold a word in the editor. */
	float:left;
	width:100%;
}

.editor_controls > ul {
	clear:left;
}

.editor_controls > ul.right li > * {
	display:inline;
	float:left;
}

.editor_controls > ul.right {
	float:right;
}
.editor_control_group_item { 	
	margin-right: 5px; 
}
.editor_controls ul.right {
	_float:right;
}

.editor_controls > ul > li {
	background:transparent url(images/editor/separator.gif) no-repeat left;
	padding-left:6px;
	float:left;
	position: relative;
}
.editor_controls li , .editor_controls ul.right li, .editor_controls .popupmenu div.popupctrl {
	_display: inline;
}
.editor_controls > ul > li:first-child {
	background-image:none;
	padding-left:0px;
}

.editor_controls > ul.right > li:first-child {
	background-image:none;
	padding-right:5px;
}

.editor_controls a.popupctrl img,
.popupmenu .popupbody li img {
	vertical-align:middle;
}

.editor_controls a.popupctrl {
	text-decoration:none;
}

.editor_controls .imagebutton {
	padding:1px;
	background-color: transparent;
}

.editor_controls .colorbutton {
	float:left;
	margin:1px;
	border:0;
}

.editor_controls .colorbutton div {
	border:1px solid #ACA899;
	height:10px;
	width:10px;
	margin:2px;
}

.editor_controls .vbedit_colorbutton {
	padding-bottom:4px;
}

.editor_controls .vbedit_colorbar {
	position:absolute;
	background-color:black;
	top:15px;
	left:6px;
}

.formcontrols .blockrow .editor_textbox textarea:focus {
	background-color:rgb(244, 244, 244);
}

.editor_container {
	float:left;
	margin-right:-90px;
	width:100%
}

.editor_smiliebox {
	float:right;
	width:75px;
	height:200px;
	_background-color:rgb(244, 244, 244);
	_border:solid 1px #6b91ab;
	padding:0 3px 3px 3px;
}

.editor_smiliebox .blocksubhead {
	padding:0;
	font-size:11px;
	font-weight:normal;
	text-align:center;
	background:#f2f6f8;
	border:solid 1px #6b91ab;
	border-width:1px 0;
}

.editor_smiliebox ul.smiliebox {
	height:190px;
	overflow:hidden;
}

.editor_smiliebox ul.smiliebox li {
	float:left;
	height:20px;
	width:20px;
	margin:2px;
	overflow:hidden;
	position:relative;
	text-align:center;
}

.editor_smiliebox ul.smiliebox li div.table {
	display:table;
	height:100%;
	margin:auto;
	/* IE8 needs the following, see https://connect.microsoft.com/IE/feedback/ViewFeedback.aspx?FeedbackID=425785#tabs */
	table-layout:fixed;
	width:20px;
}

.editor_smiliebox ul.smiliebox li div.tablecell {
	display:table-cell;
	vertical-align:middle;
}

.editor_smiliebox ul.smiliebox li img {
	height:auto;
	max-width:20px;
	width:auto !important;
}

.editor_smiliebox div.moresmilies {
	text-align:center;
	font-size:11px;
}

.editor_textbox_container {
	width:100%;
	float:left;
	margin-right:-165px;
}

.editor_textbox_smilie {
	margin-right:85px;
}

.editor_textbox textarea,
.editor_textbox iframe {
	width:500px;
	max-width:99%;
	min-width:99%;
	height:200px;
	float:none;
	background-color:rgb(244, 244, 244);
	font:   13px Tahoma,Calibri,Verdana,Geneva,sans-serif;
}

.editor_textbox textarea,
.editor_textbox iframe, #ie8#fix {
	width:99%;
}

.editor_textbox textarea.forum {
	font:    13px Verdana,Arial,Tahoma,Calibri,Geneva,sans-serif;
}

.editor_textbox iframe {
	margin:0;
	padding:0;
	height:206px;
}

.editor_textbox .hider {
	background-color:rgb(244, 244, 244);
}

.editor_textbox.quickreply textarea {
	height:100px;
}

.editor_textbox.quickreply iframe {
	height:106px;
}

.editor_textbox .description {
	float:none;
	width:auto;
	margin-top:2px;
}

.editorpopupbody {
	max-height:250px;
	*overflow:auto;
	overflow-y:auto;
	overflow-x:hidden;
}

.popupmenu.sizes .popupbody {
	min-width:50px;
	text-align:center;
}

.popupmenu.colors .popupbody {
	min-width:144px;
}

.editor_controls .popupmenu .popupbody {
	background:#ffffff;
	border: 1px solid #C4C4C4;
}

.editor_controls .category,
.editor_controls .smilie ,
.editor_controls .attachment {
	font-size:11px;
	border-top:none;
	padding:1px;
	position: relative;
}

.editor_controls .smilie,
.editor_controls .attachment,
.editor_controls .attach .category {
	cursor:pointer;
}

.editor_controls .category {
	background:#f2f6f8;
	border:solid 1px #6b91ab;
	border-width:1px 0;
}

.editor_controls .smilie div,
.editor_controls .category div,
.editor_controls .attachment div {
	padding:2px;
	white-space:nowrap;
	overflow:hidden;
}

.editor_controls .fontsize,
.editor_controls .fontname {
	padding:1px;
	border-top:none;
	font-size:14px;
}

.editor_controls .popupmenu .popupbody li > a {
	padding:1px 3px;
	overflow:hidden;
	background:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	color:#000000;
}

.editor_controls .popupmenu .popupbody li > a:hover {
	color:#000000;
}

.popupmenu.colors {
	position:relative;
}

.popupmenu.fonts div.popupctrl {
	width:91px;
}

.popupmenu.sizes div.popupctrl {
	width:45px;
}

.editor_controls a.popupctrl {
	border:1px solid #e1e1e1;
	height:18px;
	line-height:17px;
}

.editor_controls .popupmenu div.popupctrl {
	height:18px;
	border:1px solid #e1e1e1;
	color:#000000;
	line-height:17px;
	background-color:#ffffff;
	padding-right:10px;
	background-image:url(images/misc/popupctrl.png);
	background-position:right center;
	background-repeat:no-repeat;
	padding: 1px;
	padding-right: 10px;
}

.popupmenu.imagemenu div.popupctrl, .editor_controls .popupmenu .popupctrl {
	padding:1px;
	padding-right:10px;
	background-color: transparent;
	border:none;
}

.popupmenu.imagemenu div.popupctrl.active {
	padding:0px;
	padding-right:10px;
	margin-right:-1px;
}

.popupmenu.fonts div.popupctrl div,
.popupmenu.sizes div.popupctrl div {
	font-size:11px;
	font-family:tahoma;
	overflow:hidden;
	white-space:nowrap;
	padding:0 3px 0 3px;
	_display:inline;
}

.editor_controls .imagebutton_selected,
.editor_controls .imagebutton_hover,
.editor_controls .imagebutton_down,
.editor_controls a.popupmenu {
	padding:0;
	margin:0;
}

.editor_controls .popupmenu .popupctrl.active,
.editor_controls .popupmenu .popupctrl.imagebutton_hover,
.editor_controls .imagebutton_selected,
.editor_controls .imagebutton_down,
.editor_controls .imagebutton_hover {
	background-color: #C1D2EE;
	border:solid 1px #6B91AB;
	padding: 0;
}

.editor_controls .popupmenu .popupctrl.active {
	padding-right: 10px;
	margin: 0;
}

.editor_controls .popupmenu .popupctrl.imagebutton_hover {
	padding-right: 10px;
	margin-right: -1px;
}

.editor_controls .popupmenu.fonts div.popupctrl.active,
.editor_controls .popupmenu.fonts div.popupctrl.imagebutton_hover,
.editor_controls .popupmenu.sizes div.popupctrl.active,
.editor_controls .popupmenu.sizes div.popupctrl.imagebutton_hover {
	padding: 1px;
	padding-right: 10px;
	margin-right: 0;
}

.editor_controls .popupmenu .popupctrl.active div,
.editor_controls .popupmenu .popupctrl.imagebutton_hover div {
	font-size: 11px;
	font-family: tahoma;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 3px;
	_display: inline;
}

.editor_controls .popupmenu .popupctrl.active,
.editor_controls .popupmenu .popupctrl.imagebutton_hover,
.editor_controls .imagebutton_hover {
	background-color: #C1D2EE;
	border: solid 1px #6B91AB;
	padding: 0;
}

.editor_controls .imagebutton_selected {
	background-color: #F1F6F8;
	border: solid 1px #6B91AB;
	padding: 0;
}

.editor_controls .imagebutton_down {
	background-color: #97B5E2;
	border: solid 1px #6B91AB;
	padding: 0;
}

.editor_co
